.DS_Store
target/
*.iml
.idea
!.idea/runConfigurations
.settings
.project
.classpath
.vscode/
*~
local-test
out
lib
bin
!devtools/cli/distribution/java-binary/bin
dependency-reduced-pom.xml
.directory
.java-version
.graal-install
dumps
*.orig
*.rej
.factorypath
graph-output.dot
*.swp
*.swo
ObjectStore
.gradle
docker/distroless/bazel-*
/.apt_generated_tests/
*.log
*.log*
nbactions.xml
nb-configuration.xml
.cache
/lsp/
.envrc
.jekyll-cache
.mvn/.develocity
.mvn/.gradle-enterprise/
.quarkus
/target/

# Build files and directories
build/
dist/
out/
*.jar
*.war
*.ear
*.class
*.zip
*.tar.gz
*.tgz
function.zip
bootstrap-example.sh
build-metrics.json
quarkus-artifact.properties
sam.jvm.yaml
sam.native.yaml
samconfig.toml
*-runner
*-runner.jar
*-dev.jar
*-native-image-source-jar/
target/**